@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
@font-face {
  font-family: Millik Regular;
  src: url(./fonts/MillikRegular.otf);
}
@font-face {
  font-family: SFPRO Display Regular;
  src: url(./fonts/SFPRODISPLAYREGULAR.OTF);
}
@font-face {
  font-family: SFPRO Display Bold;
  src: url(./fonts/SFPRODISPLAYBOLD.OTF);
}
@font-face {
  font-family: Georgia;
  src: url(./fonts/georgia\ bold.ttf);
}

h5 {
  font-family: Millik Regular;
}
p {
  font-family: Georgia;
}
.project-img img {
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.project-img:hover img {
  transform: scale(1.1);
}
.skills h6{

}